[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-session = "*"
faker = "*"
flask-sqlalchemy = "*"
sqlalchemy-serializer = "*"
flask-restful = "*"
flask-dotenv = "*"
flask-jwt-extended = "*"
flask-mail = "*"
itsdangerous = "*"
requests = "*"
flask-cors = "*"
bcrypt = "*"
werkzeug = "*"
flask-bcrypt = "*"
flask-migrate = "*"
marshmallow-sqlalchemy = "*"
flask-marshmallow = "*"
psycopg2-binary = "*"
python-dotenv = "*"
gunicorn = "*"
flask = "*"

[dev-packages]

[requires]
python_version = "3.8"
